<!DOCTYPE html>
  <html>

<head>
  <title>Bryan Memeti</title>
    <!--my links to bootstrap and CSS-->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <!--my links to bootstrap and CSS-->
    <link rel="stylesheet" href="/styles.css">
</head>

<nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome to <strong>Converse</strong> for life!!!!</a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
</nav>
  
    <body>
      <div class="container">
        <%= yield %>
      </div>
    </body>
  </html>