<p>Add an brand to the mall:</p>

  <form action="/brands" method="post">
    <label for="name">Brand's name:</label>
    <input id="name" name="name" type="text">

    <button type="submit">Add brand</button>
  </form>