<h1>Welcome to the Converse Mall!</h1>

<div class = "row">
<div class = "col-md-6">
  <a href="/stores"><button class="button btn">All Stores</button></a>
</div>

<div class = "col-md-6">
  <a href="/brands"><button class="button btn">All Brands</button></a>
</div>
</div>

  <div class="container">
    <a href="/"><button class="button btn">Return Home</button></a>
  </div>